.banner2 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 25px;
}

.banner_img {
  width: 100%;
  border-radius: 25px;
}

/* .about_collapses {
  margin-right: 100px;
  margin-left: 100px;
}  */

.about_anyCollapse {
  height: 500px;
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: baseline;
}

.collapse{
 width: 100%;
 margin-top: 20px;
 margin-bottom: 20px;
}


#collapse-Fiabilité.collapse {
  background-color: #f6f6f6;
}

#collapse-Respect.collapse {
  background-color: #f6f6f6;
} 

#collapse-Service.collapse {
  background-color: #f6f6f6;
}

#collapse-Sécurité.collapse {
  background-color: #f6f6f6;
}



/* //////////////////////////////////////////////////////////////////////////////////// */
/* MEDIAQUERIES */


@media only screen and (min-width: 1px) and (max-width: 767px) {
.about_collapse{
  margin-right: 100px;
  margin-left: 100px;

}
  .about_anyCollapse {
    margin-right: 100px;
    margin-left: 100px;
  }
  .banner_img {
background-size: cover;
  }

  .collapse_title {
    font-size: 12px;
  }
 
}
