.banner2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    border: red 1px solid;
    border-radius: 25px;
  }
  
  .banner_visuel{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .banner_img {
    width: 100%;
    position: relative;
    border-radius: 25px;
  }
  