.tag {
    height: 25px;
    width: 115px;
    background-color: #FF6060;
    border-radius: 10px;
  }
  
  .tag_title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19.96px;
  }