

.container_logement {
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.logement_tag {
  display: flex;
  margin-bottom: 10px;
}

.carrousel_image {
  overflow: hidden;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.logement_informations {
  display: flex;
  justify-content: space-between;
}

.logement_infoGeneral {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.logement_title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  margin: 0px;
  margin-top: 15px;
}

.logement_location {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  margin: 0px;
}

.logement_tag {
  display: flex;
  margin-top: 30px;
  /* margin-top: 30px; */
}

.logement_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.contact_identity {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  margin-right: 10px;
  margin-top: 15px;
}

.contact_firstName {
  height: 5px;
}

.contact.lastName {
  height: 5px;
}

.contact_profilPicture {
  clip-path: ellipse(50% 50%);
  width: 64px;
  height: 64px;
  margin-top: 15px;
}

.logement_equipments {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
  display: inline-flex;
}

.logement_equipments > .collapse {
  width: 50%;
}

.starRed {
  color: #ff6060;
}

.starGrey {
  color: grey;
}

.logement_stars {
  margin-top: 50px;
}



/* ************************************************************ */
@media screen and (min-width: 320px) and (max-width: 768px) {


  .container_logement {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }


  .logement_contact {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    height: 50px;
  }

  .contact {
    margin-top: 40px;
  }

  .contact_identity {
    font-size: 14px;
  }

  .contact_profilPicture {
    clip-path: ellipse(50% 50%);
    width: 44px;
    height: 44px;
    margin-top: 15px;
  }

  .logement_infoGeneral {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  .logement_informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logement_title {
    font-size: 22px;
  }

  .logement_stars {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .logement_equipments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin-bottom: 0px;
    display: block;
  }

  .logement_equipments > .collapse {
    width: 100%;
  }

  .carrousel_image {
    overflow: hidden;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  
  }

}
