
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 40px;
  background-color: #f6f6f6;
  border-radius: 10px;
  gap: 30px;
  padding: 30px 30px;
}

.card_visuel {
  height: 340px;
  border-radius: 10px;
  margin-top: 20px;
  background: linear-gradient(white, rgb(34, 34, 34) 40%);
}

.card_link {
  text-decoration: none;
  position: relative;
}

.card_cover {
  height: 340px;
  width: 100%;
  border-radius: 10px;
  border-radius: 10px;
  opacity: 0.9;
  object-fit: cover;
}

.card_title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  padding: 10px;
  bottom: 5px;
  position: absolute;
}

/* //BANNER */

.banner {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  border-radius: 15px;
  position: relative;
}

.banner_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.banner_txt {
  top: 0;
  position: absolute;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  box-sizing: border-box;
  line-height: 68px;
  width: 100%;
  height: 100%;
 
}


/* MEDIA QUERIES SmartPhone *************************************** */



@media screen and (min-width: 0px) and (max-width: 768px) {
  .banner {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    height: 130px;
  }

  .banner_txt {
    font-weight: 800;
    font-size: 18px;
    box-sizing: border-box;
    padding: 15px;
    justify-content: flex-start;
    line-height: 25px;
  }

  .banner_img {
    height: 100%;
    filter: brightness(80%);
  }

  /* _______________________________________ */

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0;
    gap: 20px;
  }

.card_title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 17px;
}
}

/* MEDIA QUERIES Tablette, ordi portable, écrans jusqu'à 1024px. *************************************** */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card_title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 18px;
    color: #e6e3e3;
    position: absolute;
    padding: 10px;
    bottom: 5px;
    position: absolute;
  }

  .cards {
    margin-right: 25px;
    margin-left: 25px;
    background-color: #f6f6f6;
    margin-top: 20px;
  }

  /* _______________________________________ */

  .banner {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    margin-top: 50px;
  }

  .banner_txt {
    font-weight: 800;
    font-size: 28px;
    box-sizing: border-box;
  }
}
