.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    border: red 1px solid;
}

.header_lien{
color: red;
}
