.carrousel_image {
  position: relative;
}

.carrousel_arrowLeft {
  height: 79.2px;
  position: absolute;
  cursor: pointer;
  left: 20px;
  top: 44%;
}

.carrousel_arrowRight {
  height: 79.2px;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 44%;
}

.gallery_count {
  font-family: Montserrat;
  font-weight: 500px;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
}

/* ************************************************************ */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .carrousel_arrowLeft > img {
    height: 25px;
  }

  .carrousel_arrowRight > img {
    height: 25px;
  }
}
