.collapse_header {
  height: 52px;
  background-color: #ff6060;
  border-radius: 10px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse_title {
  margin-left: 10px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.collapse_arrow {
  margin-right: 10px;
  height: 26.4px;
  cursor: pointer;
}

/* #collapse-Description.collapse {
  background-color: #f6f6f6;
}

#collapse-Équipements.collapse {
  background-color: #f6f6f6;
} */

.collapse_description {
  padding: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: #ff6060;
  line-height: 25px;
  margin-top: -10px;
  background-color: #f6f6f6;
  list-style: none;
}

.collapse_arrow.false {
  transform: rotate(-180deg);
}

/* ************************************************************ */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .collapse_title {
    font-weight: 600;
    font-size: 14px;
  }

  .collapse_description {
    font-size: 14px;
  }

  .collapse_arrow > img {
    margin-right: 10px;
 height: 12px;
    cursor: pointer;
  }
  

}
